/*bag styles*/

.bag-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-y: scroll;
    width: min(50vw,500px);
    height: calc(100vh - 100px);
    top: 100px;
    left: 100vw;
    background-color: white;
    border-left: solid black 1px;
    border-top: solid black 1px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 1s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: max(50vw, calc(100vw - 500px)); }
}

@keyframes slide {
    100% { left: max(50vw, calc(100vw - 500px)); }
}

.faded-background{
    display: flex;
    position: absolute;
    width: max(50vw, calc(100vw - 500px));
    height: calc(100vh - 100px);
    top: 100px;
    left: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: slidefade 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slidefade 1s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slidefade {
    100% { left: 0vw; }
}

@keyframes slidefade {
    100% { left: 0vw; }
}

.bag-card{
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.bag-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(4vw, 40px);
    font-weight: bold;
}

.checkout-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(3vw, 35px);
    font-weight: bold;
}

.bag-item-image{
    display: flex;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0px;
}

.bag-item-info-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 0px;
    margin-left: 10px;
}

.bag-item-info{
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    width: auto;
    margin: 0px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(2vw,20px);
    font-weight: bold;
}

.bag-quantity{
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    width: 10vw;
    margin: 0px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.selection-image{
    display: flex;
    position: relative;
    height: min(3vw,30px);
    width: min(3vw,30px);
    margin: 0;
}

.selection-image:active{
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
}

.selection-font{
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    font-weight: bolder;
    font-size: large;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 0;
    padding-bottom: 20px;
}

.checkout-button{
    display: flex;
    position: relative;
    width: min(30vw,500px);
    height: min(4vw,50px);
    margin: auto;
    margin-left: 0;
    background-color: rgb(255, 196, 0, 0.9);
    user-select: none;
}

.checkout-button:active{
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
}

.center{
    width: auto;
    height: auto;
    margin: auto;
}

.medium-font{
    font-weight: 700;
    font-size: medium;
}

.bag-counter{
    display: flex;
    position: absolute;
    top: -53px;
    right: 65px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.error-message-holder{
    display: flex;
    position: relative;
    width: min(30vw,500px);
    height: min(4vw,50px);
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgba(255, 0, 0, 0.9);
    color: black;
    font-weight: bold;
    font-size: min(1.7vw,20px);
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
    overflow: hidden;
}

.slide-up, .slide-down {
    overflow:hidden;
  }

.slide-up > div, .slide-down > div {
    transform: translateY(min(-4vw,-50px));
    transition: .4s ease-in-out;
}
.slide-down > div {            
    transform: translateY(0);
} 

