:root{
    background: url("./img/purple-bricks.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    --lego-yellow: rgb(255, 196, 0, 0.9);
    --lego-red: red;
}

.header{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    top: 0;
    left: 0;
    margin: auto;
    background-color: var(--lego-yellow);
}

.lego-logo{
    display: flex;
    position: relative;
    height: 90%;
    width: auto;
    margin: 5px;
}

.bag-logo{
    display: flex;
    position: absolute;
    right: 46px;
    top: 30px;
    height: 40%;
    width: auto;
    margin: auto;
    z-index: 10;
}

.bag-count{
    display: flex;
    position: absolute;
    right: 46px;
    top: 36px;
    height: 40%;
    width: 38px;
    margin: auto;
    text-align: center;
    user-select: none;
    z-index: 0;
}

.bag-logo:hover{
    transition-duration: 0.1s;
    -webkit-transform: scale(1.20);
            transform: scale(1.20);
}

.shop-now-container{
    display: flex;
    position: absolute;
    width: 60vw;
    height: 40vh;
    left: 20vw;
    top: 37.5vh;
    margin: auto;
    background-color: var(--lego-yellow);
}

.shop-now-text{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    color: black;
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 4px black; /* width and color */
    user-select: none;
}

.shop-now-text:hover{
    -webkit-transform: scale(1.10);
            transform:  scale(1.10);
}


.main-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: rgba(255,255,255,0.9);
}

.categories-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 20%;
    background-color: white;
}

.category-header{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vw;
    justify-content: center;
    user-select: none;
}

.category-divider{
    display: flex;
    width: 70%;
    height: 2px;
    background-color: black;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 0px;
}

.category-card{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    color: black;
    user-select: none;
}

.category-card:hover{
    transition-duration: 0.1s;
    -webkit-transform: scale(1.10);
            transform: scale(1.10);
}

.items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    overflow-y: scroll;
    height: 98%;
    width: 80%;
    margin-bottom: 2%;
}

.item-card{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    align-content: flex-start;
    height: 320px;
    width: 200px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.item-img{
    display: flex;
    position: relative;
    height: 180px;
    width: 180px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}

.item-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5px;
    height: auto;
    width: auto;
}

.item-price{
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.add-to-bag{
    display: flex;
    position: relative;
    height: 30px;
    width: 180px;
    margin-top: 5px;
    margin: auto;
    padding: 5px;
    background-color: var(--lego-yellow);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    justify-content: center;
    user-select: none;
}

.add-to-bag:active{
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
}

.item-card:hover{
    transition-duration: 0.1s;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.text-center{
    margin: auto;
}



a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.onPage{
    color: var(--lego-red);
    font-weight: bold; 
}